/* ---------- GLOBAL ---------- */
.contact-page {
  font-family: "Poppins", sans-serif;
  background: #f8f9fc;
  color: #333;
}

/* ---------- LOADING ---------- */
.loading {
  text-align: center;
  padding: 100px;
  font-size: 22px;
}

/* ---------- HERO ---------- */
.contact-hero {
  height: 47vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(47, 150, 129, 0.75),
    rgba(152, 135, 165, 0.75)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.hero-overlay h1 {
  font-size: 56px;
  margin-bottom: 14px;
  animation: slideDown 1.2s ease forwards;
}

.hero-overlay p {
  font-size: 22px;
  max-width: 700px;
  animation: slideDown 1.2s ease forwards;
}

/* ---------- CONTENT ---------- */
.contact-wrapper {
  padding: 100px 20px;
}

.contact-container {
  max-width: 1250px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  background: #fff;
  padding: 60px;
  border-radius: 18px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.08);
}

.contact-info h3 {
  font-size: 34px;
  margin-bottom: 20px;
  color: #2f9681;
  font-weight: bold;
}

.contact-info p {
  font-weight:600;
  font-size: 28px;
  line-height: 1.8;
  margin-bottom: 12px;
}

/* ---------- FORM ---------- */
.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 18px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 26px;
}

.contact-form textarea {
  resize: none;
  min-height: 130px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #2f9681;
}

.contact-form button {
  padding: 18px;
  background: linear-gradient(135deg, #2f9681, #9887a5);
  color: #fff;
  border: none;
  border-radius: 40px;
  font-size: 17px;
  cursor: pointer;
}

/* ---------- MAP ---------- */
.map-section {
  padding: 100px 20px;
  background: #fff;
}

.map-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

.map-address {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
}

.map-embed iframe {
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 18px;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 992px) {
  .contact-container {
    grid-template-columns: 1fr;
  }

  .hero-overlay h1 {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  .hero-overlay h1 {
    font-size: 32px;
  }

  .hero-overlay p {
    font-size: 18px;
  }
}
